.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;

  background: $theme-color;
  color: #fff;

  a {
    color: #fff;
  }

  .profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }

  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  .avatar {
    max-width: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .contact-list {
    .fas, .fab, .far {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }

    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .container-block {
    padding: 30px;
  }

  .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 15px 0;
  }

  .degree {
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  .education-container, .languages-container, .interests-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .meta, .time, .lang-desc {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 500;
    }
  }

  .languages-list, .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  margin-left: 350px; // match sidebar width
  padding: 60px;
  background: #fff;
  max-width: 1500px;

  .section-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    margin: 0 0 20px 0;
  }

  .section {
    margin-bottom: 60px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 30px;
    }
  }

  .upper-row,
  .second-upper-row {
    display: flex;
    margin-bottom: 2px;
  }

  .job-title,
  .degree,
  .cert-title {
    color: $text-color;
    font-size: 32px;
    font-weight: 500;
    flex: 75%;
  }

  .time,
  .cert-url {
    color: $text-grey;
    flex: 25%;
    text-align: right;
  }

  .company,
  .university,
  .cert-org {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title,
  .publication-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 5px 0;
    color: darken($theme-color, 15%);
  }

  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }

  .projects-section,
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }
}
